ChatLayoutSample/ChatLayoutSample.xcodeproj/project.xcworkspace/contents.xcworkspacedata
ChatLayoutSample/ChatLayoutSample.xcodeproj/project.xcworkspace/xcuserdata/stanislavshpak.xcuserdatad/UserInterfaceState.xcuserstate
ChatLayoutSample/ChatLayoutSample.xcodeproj/project.xcworkspace/xcuserdata/stanislavshpak.xcuserdatad/xcdebugger/Expressions.xcexplist
ChatLayoutSample/ChatLayoutSample.xcodeproj/xcuserdata/stanislavshpak.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
ChatLayoutSample/ChatLayoutSample.xcodeproj/xcuserdata/stanislavshpak.xcuserdatad/xcschemes/ChatLayoutSample.xcscheme
ChatLayoutSample/ChatLayoutSample.xcodeproj/xcuserdata/stanislavshpak.xcuserdatad/xcschemes/xcschememanagement.plist
